/* Global styles */
html, body, #__next {
  height: 100%;
  margin: 0;
}
/* Header style */
.header {
  position: sticky;
  top: 0;
  z-index: 100; /* Ensure the header stays above other content */
  background-color: #ffffff; /* Add your desired background color */
}

/* Layout styles */
.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1; /* Fill remaining space */
  overflow-y: auto; /* Enable vertical scrolling for content */
}

